.Post_comments_main_wrapper{
    background-color: var(--primary-backround-color);
    width: 60%;
    margin: auto;
}

.post_info_card{
    width: 70%;
    margin: auto;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 1.5rem 1rem;
    border: solid rgb(39, 39, 39) 2px;
    border-radius: 8px;
}

.post_info_card h2{
    font-size: 40px;
}
.post_info_card h4 {
    font-size: 16px;
}
.post_info_card p {
    font-size: 20px;
}

.post_add_comment_text_area {
    position: relative;
    width: 73%;
    transition: 0.3s ease;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  .post_add_comment_text_area input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: var(--primary-backround-color);
    border: 1px solid var(--secondary-backround-color);
    height: 40px; 
    transition:  0.3s ease;
    border-radius: 4px;
    color: var(--primary-text-color);
  }
  .post_add_comment_text_area.active input {
    height: 100px; 
  }
  .post_add_comment_buttons {
    position: absolute;
    bottom: 10px; 
    right: 10px;
    display: flex;
    gap: 10px;
  }
  
  .post_add_comment_buttons button:first-child {
    padding: 6px 12px;
    font-size: 15px;
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: var(--secondary-backround-color);
    border: none;
    border-radius: 11px;
  }
  .post_add_comment_buttons button:first-child:hover {
    background-color: var(--secondary-backround-color);
  }
  .post_add_comment_buttons button:last-child {
    padding: 6px 12px;
    font-size: 15px;
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: rgb(1, 124, 1);
    border: none;
    border-radius: 11px;
  }
  .post_add_comment_buttons button:last-child:hover {
    background-color: rgb(31, 172, 31);
  }
  
  .post_add_comment_text_area.active {
    height: 100px; 
    transition: 0.3s ease;
    padding-bottom: 5px; 
  }


.answers_padding{
    margin-top: 2rem;
    padding: 0.2rem;
    padding-bottom: 0.5rem;
}

.answer_infocard{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 1rem;
    color: white;
    background-color: var(--primary-backround-color);
    border: 1px solid #313131;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.answer_infocard h3{
    font-size: 25px;
}

.answer_infocard p {
    font-size: 12px;
}

.answers_none{
    text-align: center;
    padding-bottom: 1rem;
    color: white;
}

.liked_post{
    color: red
}

.disliked_post{
    color: blue;
}

.active_like{
    background-color: red;
}

.active_dislike {
    background-color: blue;
}