body.active_modal {
    overflow-y: hidden;
}

.btn_modal {
    border: none;
    background-color: var(--login-btn);
    color: var(--primary-text-color);
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;
}
.btn_modal:hover {
    cursor: pointer;
    background-color: rgb(180, 48, 0);
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.overlay {
    background: var(--overlay);
}
.modal_content {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: var(--primary-backround-color);
    padding: 4rem 2rem;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.modal_content p {
    color: var(--primary-text-color);
}


.modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
}

.modal_close_btn:hover {
    cursor: pointer;
}

.modal_input {
    width: 100%;
    padding: 1rem;
    font-size: 18px;
    background-color: var(--secondary-backround-color);
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.modal_input:first-child{
    margin-top: 20px;
}

.modal_submit_button {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 25px;
    background-color: var(--login-btn);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
}

.modal_error {
    color: red;
    margin-top: 10px;
}

.switch_modal_link{
    color: var(--link-color);
}

