:root {
  --primary-text-color: #e6e6e6;
  --color-danger: rgb(247, 31, 31);
  --primary-backround-color: rgb(71, 71, 71);
  --secondary-backround-color: rgb(184, 184, 184);
}

* {
  margin: 0;
  text-decoration: none;
}